html,body,main{
    margin:0;
    padding:0;

}

span a{
    color: rgba(247, 139, 50, 1);
    text-decoration: none;
}

form {
    margin-left: 100px;
    margin-top:50px;
    width: 700px;
}
h1{
    color: rgba(247, 139, 50, 1);
    font-family: Roboto, serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 35px;
    width: 207px;
    height: 35px;
    margin-bottom: 0;
    margin-left: 100px;

}

h4{
    margin-top: 13px;
    width: 300px;
    height: 19px;
    font-family: Roboto, serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #717171;
    margin-left: 100px;

}

h3{
    width: 200px;
    height: 23px;
    font-family: Roboto, serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    color: #363636;
    margin-left: 100px;

}

input {
    font-family: Roboto, serif;
    font-size: 18px;
    line-height: 19px;
    color: #838383;
    padding: 5px 15px;
    display: block;
    height: 54px;
    width: 450px;
    margin: 13px 5px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    font-weight: normal;
}

label {
    height: 19px;
    font-family: Roboto, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #838383;
    margin-left:55px;

}


#Termo-de-uso,#confimacaoPassword{
    margin-top:4px;
    display:inline;
}

#Termo-de-uso{
    height: 20px;
    width:40px;
    margin-top:30px;
    margin-bottom: 30px;

}



#submit {
    width: 200px;
    height: 48px;
    background: linear-gradient(180deg, #FEA71E 0%, rgba(253, 105, 58, 0.64) 100%);
    border-radius: 12px;
    font-family: Roboto, serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left:86px;
}

.img-fundo{
    float: right;
    position: relative;
    z-index: 0;
}

.img-fundo img{
    height: 100vh;
    width: 50vw;
}

.container-principal{
    height: 100vh;
    width: 100vw;
}
.container-form{
    top: 13vh;
    left: 10vw;
    width: 700px;
    position: absolute;
    float: left;
    z-index: 1;

}



@media screen and ( max-width: 1200px){

    @-webkit-keyframes example {
        0%   {opacity: 100%}
        100% {opacity: 0}
    }
    .img-fundo img{
        position: relative;
        height: 100vh;
        width: 50vw;
        -webkit-animation-name: example;
        -webkit-animation-duration: 2s;
        -webkit-animation-fill-mode: forwards;
    }

}

@media screen and ( max-width: 1300px){


    h1{
        font-size: 30px;
        height: 35px;
    }

    h4{
        height: 15px;
        font-size: 15px;
    }

    h3{
        font-size: 20px;
    }

    input{
        font-size: 12px;
        height: 35px;
        width: 300px;
    }

    label {
        font-size: 12px;
    }


    #Termo-de-uso{
        height: 15px;
        margin-top:15px;
    }



    #submit {
        width: 150px;
        height: 35px;
        font-size: 15px;
    }


}



