* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-Duvidas .containerPrincipal {
    background-color: #ff8717;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-Duvidas .containerPrincipal .box {
    height: 200px;
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-Duvidas .containerPrincipal .box {
    height: 308px;
    width: 408px;
}

.container-Duvidas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-Duvidas .box p {
    margin-top: 40px;
    margin-bottom: 5px;
    color: azure;
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
}
.container-Duvidas h1 {
    z-index: 1;
    color: azure;
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
}

.container-Duvidas{
    margin-top: 200px;
    margin-bottom: 200px;
}
