body{
    margin: 0;
    padding: 0;
}

p,h1,li{
    font-family: Roboto,sans-serif;
}

.container-itens{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    flex-wrap: wrap;
    margin-right:80px;
    max-width: 1000px;

}

.container-itens .container-forma{
    height: 300px;
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 50px;
}

.foto-perfil{
    height: 60px;
    border-radius: 10px;
    margin-bottom: 15px;

}

.container-itens .container-forma .estrelas{
    height: 15px;
    width: 80px;
    margin-top: 25px;
}

.container-itens .container-forma p{
    margin: 2px;
    font-family: Roboto,sans-serif;
    font-size: 13px;
}

.container-itens .container-forma .container-botoes{
    margin-top: 20px;

}

.container-itens .container-forma .container-botoes button{
    background: rgba(7, 178, 208, 0.73);
    border-radius: 9px;
    color: #FFFFFF;
    border: none;
    height: 20px;
    width: 60px;
    font-size: 10px;
}

/*--------------------------------------------------------*/

.container-principal-home {
    display: flex;
    justify-content: space-around;
}


/*-------------------------------*/

.container-master{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.header-container-principal h1{
    margin-bottom: 0;
    font-size: 27px;
    font-weight: bolder;
}

.container-filtros{
    margin-top: 40px;
}

.container-filtros input{
    border-radius: 5px;
    border: #C7C7C7 1px solid;
    height: 15px;
    padding: 5px 15px;
    font-size: 12px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.container-filtros #data {
    letter-spacing: 2px;
}

.container-filtros button{
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
    border: none;
    height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
    opacity: 70%;

}

.container-itens{
    margin-top: 45px;
    margin-bottom: 100px;
}

/*--------------------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
    margin-bottom: 40px;
}

header div{
    display: flex;
    align-items: center;
}

header ul{
    margin: 0;
    padding: 0;
}

header img{
    margin-right: 20px;
}

header ul li{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 50px;

}

header div img{
    height: 40px;
    margin-left: 20px;

}

/*------------------------*/

.horarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-top: 17px;
}


.horarios button {
    border: #EE694B solid 1px;
    padding: 2px;
    background-color: #FFFFFF;
    color: #EE694B;
    font-weight: 700;
    margin: 3px;
    opacity: 75%;
}

.horarios button:hover {
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
    color: #FFFFFF;
}

.horarios button:focus {
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
    color: #FFFFFF;
}

/*-----------------*/

footer{
    height: 50px;
    width: 100%;
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
}

.linha-horizontal{
    height: 1px;
    background-color: #D8128A;
    width: 100%;
    opacity: 30%;
}

small{
    display: flex;
    justify-content: center;
    color: azure;
    padding: 10px;
}


/*---------*/
