*{
    margin: 0;
    padding: 0;
}

body {
    background: #ff8717;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: analised !important;
}


header#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: whitesmoke;
}
header#main-header h2{
    font-weight: bold ;
    color: rgb(47, 44, 44);
}
header#main-header nav ul{
    display: flex;
    list-style: none;
}
header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-right: 15px;
}
header#main-header nav ul button{
    height: 30px;
    background: #f88502;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    font-weight: bold;
    font-size: 16px;
    color: white ;
    border: 0;
    border-radius: 20px;
}
.Home{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    text-align: center;
    list-style: none;
}
.Logo{
    float: left;
    margin-left: 50px;
    font-size: 70px;
    font-weight: bold;
}

.Imagem {
    margin-top: 50px;
    float: right;
    margin-right: 50px;
}

.Texto{
    list-style: none;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 250px;
}

@media screen and ( max-width: 1200px){

    .Imagem {
     height: 0;
     width: 0;
    }
    
    
}
