body {
    margin: 0;
    padding: 0;
}

.barra-lateral-principal {
    width: 50px;
    min-width: 40px;
    max-width: 50px;
    height: 105%;
    background: linear-gradient(180.71deg, #F78B32 1.32%, #EE694B 45.24%, #EE694B 83.7%, #D8128A 158.45%);
}

.icons-menu-lateral img {
    width: 60px;
    height: 60px;
    margin-bottom: 70px;
    margin-left: 12px;

}

.marcador-de-selecao img {
    position: absolute;
    margin-top: 50px;
    margin-left: 9px;
    height: 103px;
}

#icon-veterinaria {
    position: relative;
    margin-top: 72px;
}

#icon-exit {
    margin-top: 67vh;
}
