<!DOCTYPE html>
<html lang = "pt-BR">
<head>
  <meta charset = "UTF-8">
  <link href = "../styles/menu-lateral-principal.css" rel = "stylesheet">
  <title>Home</title>
</head>
<body>
  <div>
    <div class = "barra-lateral-principal">
      <div class = "marcador-de-selecao">
         <img alt = "" src = "../resources/img/selecao-menu-lateral.png">
      </div>
      <div class = "icons-menu-lateral">
          <img alt = "" id = "icon-veterinaria" src = "../resources/img/icons8-veterinarian-female-80.png">
          <img alt = "" id = "icon-config" src = "../resources/img/icons8-agenda-64%203.png">
      </div>
    </div>
  </div>
</body>
</html>
