<!DOCTYPE html>
<html lang = "pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="../styles/menu-lateral-principal.css" rel="stylesheet">
    <link href="../styles/estilo-home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<div class="container-main">

    <div class="container-principal-home">


        <div class="barra-lateral-principal"></div>

    <div class="container-master">
        <div class="header-container-principal"><h1>Busca de Veterinarios</h1></div>
        <div class="container-filtros">
            <input type="text" name="localizacao" id="localizacao" placeholder="Localização">
            <button>Filtros</button>
        </div>
        <div class="container-itens">
            <div class="container-forma">
            <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
            <p>Isabela Moraes</p>
            <p>CRMV 00000 SP</p>
            <div class="container-botoes">
                <button type="button">
                    Agendar
                </button>
                <button type="button">
                    Ver Perfil
                </button>
            </div>
            <img alt="" class="estrelas" src="../resources/img/Star%205.png">
        </div>
            <div class="container-forma">
                <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
                <p>Isabela Moraes</p>
                <p>CRMV 00000 SP</p>
                <div class="container-botoes">
                    <button type="button">
                        Agendar
                    </button>
                    <button type="button">
                        Ver Perfil
                    </button>
                </div>
                <img alt="" class="estrelas" src="../resources/img/Star%205.png">
            </div>
            <div class="container-forma">
                <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
                <p>Isabela Moraes</p>
                <p>CRMV 00000 SP</p>
                <div class="container-botoes">
                    <button type="button">
                        Agendar
                    </button>
                    <button type="button">
                        Ver Perfil
                    </button>
                </div>
                <img alt="" class="estrelas" src="../resources/img/Star%205.png">
            </div>
            <div class="container-forma">
                <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
                <p>Isabela Moraes</p>
                <p>CRMV 00000 SP</p>
                <div class="container-botoes">
                    <button type="button">
                        Agendar
                    </button>
                    <button type="button">
                        Ver Perfil
                    </button>
                </div>
                <img alt="" class="estrelas" src="../resources/img/Star%205.png">
            </div>
            <div class="container-forma">
                <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
                <p>Isabela Moraes</p>
                <p>CRMV 00000 SP</p>
                <div class="container-botoes">
                    <button type="button">
                        Agendar
                    </button>
                    <button type="button">
                        Ver Perfil
                    </button>
                </div>
                <img alt="" id="estrelas" src="../resources/img/Star%205.png">
            </div>
            <div class="container-forma">
                <img alt="" class="foto-perfil" src="../resources/img/rosto8.jpg">
                <p>Isabela Moraes</p>
                <p>CRMV 00000 SP</p>
                <div class="container-botoes">
                    <button type="button">
                        Agendar
                    </button>
                    <button type="button">
                        Ver Perfil
                    </button>
                </div>
                <img alt="" class="estrelas" src="../resources/img/Star%205.png">
            </div>
        </div>
    </div>

        <div class="container-tools">
            <div class="container-agendamentos">
                <p>Agendamentos</p>
                <div class="container-interno-tools">
                    <img class="foto-perfil"  src="../resources/img/rosto7.jpg" alt="">
                    <p>Caio Vinicius<br>crmv 00000 sp<p>
                    <div class="linha-vertical"></div>
                    <p>21/02/2022<br>10:30</p>
                </div>
                <div class="linha-horizontal"></div>
            </div>
            <div class="container-historico">
                <p>Historico</p>

                <div class="container-interno-tools">
                    <img class="foto-perfil"  src="../resources/img/rosto%203.jpg" alt="">
                    <p>Caio Vinicius<br>crmv 00000 sp<p>
                    <div class="linha-vertical"></div>
                    <p>21/02/2022<br>10:30</p>
                </div>
                <div class="linha-horizontal"></div>

                <div class="container-interno-tools">
                    <img class="foto-perfil"  src="../resources/img/rosto%203.jpg" alt="">
                    <p>Caio Vinicius<br>crmv 00000 sp<p>
                    <div class="linha-vertical"></div>
                    <p>21/02/2022<br>10:30</p>
                </div>
                <div class="linha-horizontal"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
