<!DOCTYPE html>
<html lang = "pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="../styles/menu-lateral-principal.css" rel="stylesheet">
    <link href="../styles/estilo-home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>

<header>
    <div>
        <img src="../resources/img/img-page-cadastro-users/Início%20(1)%202.png" alt="">
        <nav>
            <ul>
                <li>Pesquisa</li>
                <li>Historico</li>
                <li>Agendamentos</li>
            </ul>
        </nav>
    </div>
    <a href="../view/login.html"><img src="../resources/img/icons8-logout-50.png" alt="logout"></a>
</header>
<div class="container-main">
    <div class="container-principal-home">
        <div class="container-master">
                <div class="header-container-principal"><h1>Busca de Veterinarios</h1></div>
                <div class="container-filtros">
                <input type="text" name="localizacao" id="localizacao" placeholder="Localização">
                <input type="text" name="localizacao" id="data" placeholder="DD/MM/YYYY">
                <button>Filtros</button>
        </div>
            <div class="container-itens">
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>
                <div class="container-forma">
                    <div class="info-vet">
                        <img alt="" class="foto-perfil" src="../resources/img/rosto5.jpg">
                        <div>
                            <p>Caio Moraes</p>
                            <p>CRMV 00000 SP</p>
                        </div>
                    </div>

                    <div class="dias-vet">
                        <img src="../resources/img/seta.png">
                        <p>09/12/2022</p>
                        <img src="../resources/img/seta.png">
                    </div>

                    <div class="time-vet">
                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle" onclick=""></button>
                            <p>09h00 - 09h25</p>
                        </div>

                        <div class="time">
                            <button class="circle"></button>
                            <p>09h00 - 09h25</p>
                        </div>
                    </div>
                    <button class="agendar" type="button">
                        <p>Agendar</p>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="linha-horizontal"></div>
    <small>® Grupo1 Todos os direitos reservados</small>
</footer>

</body>
</html>
