<!DOCTYPE html>
<html lang = "pt-BR">
<head>
  <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro</title>
  <link href = "../styles/modoDeCadastro.css" rel = "stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="container-text">
        <p>Olá!</p>
          <h1>Me cadastrar como:</h1>
          <h4>Selecione abaixo qual tipo de perfil deseja cadastrar</h4>
        <div class="selecao">
          <button onclick="location.href='../view/cadastroUsers.html'" type="button">Usuario</button>
          <p>Ou</p>
          <button onclick="location.href='../view/cadastroVet.html'" type="button">Veterinário</button>
        </div>
      <img id="gato-img" src="../resources/img-modo-de-cadastro/1000_F_180990535_lmZW9XjJibE1XPAK3u9nbdgkrf7KiQpJ%20(1)%202.png">
    </div>
    <img src="../resources/img-modo-de-cadastro/Vector%2014.png">

  </main>
</body>
</html>
