<!DOCTYPE html>
<html lang = "pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="../styles/Header-PagePrincipal.css" rel="stylesheet">
    <link href="../styles/Footer-PagePrincipal.css" rel="stylesheet">

    <link href="../styles/ComoFunciona-PagePrincipal.css" rel="stylesheet">
    <link href="../styles/Servicos-PagePrincipal.css" rel="stylesheet">
    <link href="../styles/DuvidasEInfo-PagePrincipal.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>

<header id="main-header">

    <h2>Pronto Pet Home</h2>
    <nav>
        <ul>
            <li>Como Funciona</li>
            <li>Serviços</li>
            <li>Encontrar Veterinário</li>
            <li>Dúvidas e Informações</li>
            <button>Login</button>
        </ul>
    </nav>


</header>
<section class="Home">
    <section class="Logo">

        <h2>Pronto <img src="../resources/img/img-Page-Principal/Logo%20pronto%20pet%20home%20casinha.png" alt="">
            <p></p>
            Pet 🦴 Home
        </h2>
    </section>
    <section class="Imagem">
        <img src="../resources/img/img-Page-Principal/Cachorro.png" alt="Imagem Cachorro">

    </section>

</section>
<section class="Texto">
    <li>
        Um novo conceito de cuidado com quem mais amamos...
        <p></p>
        O cuidado que seu pet merece, agora no conforto da sua casa!
    </li>
</section>


<div class="container-ComoFunc">
    <h1>Como Funciona</h1>
    <div class="containerPrincipal">
        <div class="box"><img src="../resources/img/img-Page-Principal/Como-Funciona1.jpg">
            <h4>É PRÁTICO E SEGURO</h4>
            <p>Encontre um médico veterinário perto de você! O atendimento é feito em casa e o pagamento é feito depois da consulta com preços acessíveis.</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/Como-Funciona2.jpg">
            <h4>SEU PET FELIZ</h4>
            <p>Se seu pet fica estressado quando precisa ir ao veterinário? A Pronto Pet Home possibilita a consulta em sua casa, evitando deslocamentos longos, trânsito, facilitando a vida do dono e do pet.</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/Como-Funciona3.jpg">
            <h4>QUALIDADE PRONTO PET HOME</h4>
            <p>Médicos Veterinários a um clique.Em nossa plataforma você encontrará os melhores profissionais em apenas um clique e próximos a sua casa. O amor que seu pet merece agora esta a seu alcance.</p>
        </div>
    </div>
</div>

<div class="container-Duvidas">
    <h1>Dúvidas e Informações</h1>
    <div class="containerPrincipal">
        <div class="box"><img src="../resources/img/img-Page-Principal/osso.png">
            <p>Nossa Missão é fazer com que nosso novo normal nos possibilite uma interação mais interativa e humana entre veterinários e usuários</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/info.png">
            <p>Dúvidas e Informações, basta clicar na imagem acima</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/term.png">
            <p>Acesse nossos Termos e Condições e registro CRMV para utilização da nossa plataforma.</p>
        </div>
    </div>
</div>

<div class="container-Serv">
    <h1>Serviços</h1>
    <div class="containerPrincipal">
        <div class="box"><img src="../resources/img/img-Page-Principal/Servicos1.jpg">
            <h4>APLICAÇÃO DE VACINAS</h4>
            <p>Cães: V8, V10, antirrábica, gripe e giárdia. Gatos: V3, V4, V5 e antirrábica. Para aplicação de vacinas, o seu pet é examinado para ver se está apto a ser imunizado.</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/Servicos2.jpg">
            <h4>CONSULTAS</h4>
            <p>Consultas de rotina ou checkup, pediátrica, geriátrica ou com especialista. Incluso um retorno em até 30 dias, suporte do veterinário e da Pronto Pet Home.</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/Servicos3.jpg">
            <h4>MEDICAMENTOS</h4>
            <p>Via: oral, subcutânea e intramuscular. Qualquer medicamento pode ser levado pelo médico veterinário.</p>
        </div>

        <div class="box"><img src="../resources/img/img-Page-Principal/Servicos4.jpg">
            <h4>CURATIVOS, IMOBILIZAÇÕES E ATADURAS</h4>
            <p>Colocação de curativos ou imobilizações pós-traumáticas e manutenções pós-cirúrgica. Os materiais são levados pelo médico veterinário.</p>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <ul>
            <li><a>Navegação</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Opções</a></li>
            <li><a href="#">Como Funcionamos</a></li>
            <li><a href="#">Serviços</a></li>

        </ul>
        <ul>
            <li><a>Informações</a></li>
            <li><a href="#">Dúvidas e informações</a></li>
            <li><a href="../resources/docs/Política%20de%20Privacidade.doc.docx">Termo de uso e Responsabilidade</a></li>
            <li><a href="../resources/docs/DISPOSIÇÕES%20PRELIMINARES%20LGPD%20LEI%20DE%20PROTEÇÃO%20DE%20DADOS.doc.docx">LGPD</a></li>

        </ul>

        <div class="conatiner-redes-sociais-and-map">
            <div class="redes-sociais">
                <a href="#"><img src="images/logo-twitter-png-5860.png" alt=""></a>
                <a href="#"> <img src="images/logo-instagram-png-2445.png" alt=""></a>
                <a href="#"> <img src="images/whatsapp-logo-png-2261.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="linha-horizontal"></div>
    <small>® Grupo1 Todos os direitos reservados</small>
</footer>

</body>
</html>
